{
    "name": "default",
    "type": "postgres",
    "port": 5432,
    "host": "localhost",
    "username": "postgres",
    "password": "password",
    "database": "sisid",
    "migrations": ["./dist/database/migrations/*.js"],
    "entities": [
        "./dist/database/entities/*.js"
    ],
    "cli": {
        "migrationsDir": "./src/database/migrations"
    }
}